*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

/* ===== HEADER ======= */
.header{
    width: 100%;
    height: auto;
    background: #131E3A;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.nav{
    margin: 0 auto;
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.nav__list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.nav__link{
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #FFFFFDB8;
    position: relative;
}

.nav__link::after{
    content: " ";
    width: 0;
    height: 2px;
    background: #D6EF0E;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: width .3s;
}
.nav__link:hover::after{
    width: 100%;
}
.nav__link:hover{
    color: #FFFFFF;
}

.nav__contact:hover{
    background:  rgb(192, 209, 64);
}
.active-link::after{
    width:100%;
}
.active-link{
    color: #FFFFFF;
}
.nav__contact{
    padding: 12px 20px;
    background:#D6EF0E;
    border: none;
    border-radius: 8px;
    font-family: Inter;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #FFFFFF;
    transition: all 0.5s;
}

/* ========== marketplace ============ */
.Marketplace {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(
        90deg,
        #000000,
        #131E3A,
        rgb(92, 100, 28),
        #131E3A,
        #000000
    );
    background-size: 300% 100%; 
    background-position: 0% 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: moveGradient 10s linear infinite; 
}
  


@keyframes moveGradient {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}




.Marketplace__container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.marketplace__title{
    max-width: 500px;
    font-family: Canela;
    font-weight: 500;
    font-size: 64px;
    line-height: 120%;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #FFFFFD;    
}
.marketplace__title span{
    color: #D6EF0E;
}
.marketplace__text{
    max-width: 550px;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #FFFFFD;    
}
.marketplace__buttons{
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.marketplace__btn__one{
    padding: 20px 30px ;
    background: #D6EF0E;
    border: none;
    border-radius: 8px;
    font-family: Inter;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #FFFFFF;
    cursor: pointer;
}
.marketplace__btn__two{
    padding: 20px 30px ;
    background: none;
    border: none;
    border-radius: 8px;
    font-family: Inter;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #FFFFFF;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.marketplace__btn__two::before{
    content: " ";
    position: absolute;
    width: 0;
    left: -100%;
    top: 0;
    z-index: 1;
    border-radius: 8px;
    height: 100%;
    background: #D6EF0E  ;
    transition: all 1.3s
}
.marketplace__btn__two:hover::before{
    left: 0;
    width: 100%;
    z-index: 1;
}
.marketplace__btn__two span{
    position: relative;
    z-index: 2;
    color: #FFFFFD;
    transition: color 1.3s;
}

.marketplace__btn__two:hover span{
    color: #131E3A;
}

.marketplace__number__data{
    display: flex;
    align-items: center;
}
.marketplace__number{
    width: 100%;
    border-right: 1px solid #D6EF0E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

}
.marketplace__number:nth-child(1){
    align-items: flex-start;
}
.marketplace__number:nth-child(3){
    border-right: none;
}
.marketplace__number h2{
    font-family: Canela;
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #FFFFFD;
    cursor: pointer;
    transition: color .3s;
}
.marketplace__number h2 span{
    color: #D6EF0E;
    transition: color .3s;
}
.marketplace__number h2:hover{
    color: #D6EF0E;
}
.marketplace__number h2:hover span{
    color: #FFFFFD;
}
.marketplace__number p{
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #FFFFFD;
    cursor: pointer;
    transition: color .4s;
}
.marketplace__number p:hover{
    color: #D6EF0E;
}
.marketplace__img{
    width: 50%;
    height: 550px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.marketplace__img__main{    
    position: absolute;
    top: 0;
   width: 85%;
   height: 85%;
   border-radius: 24px;
}
.marketplace__img__brand{
    position: absolute;
    left: 0;
    animation: circle 50s infinite;
}

@keyframes circle {
    0%{
        transform: rotate(0deg)
    }
    100%{
        transform: rotate(360deg)
    }
}


.marketplace__img__content{
    position: absolute;
    bottom: 0;
    right: 0;
    background: #131E3A;
    border-radius: 12px;
    padding: 4%;
    border-top: 1px solid #D6EF0E;
}
.marketplace__img__contentTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
}
.marketplace__img__box p{
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #D6EF0E;
    cursor: pointer;
    transition: color .5s;
}
.marketplace__img__box p:hover{
    color: #FFFFFF;
    cursor: pointer;
}
.marketplace__img__box span{
        font-family: Inter;
        font-weight: 700;
        font-style: Bold;
        font-size: 16px;
        line-height: 120%;
        letter-spacing: 0px;
        vertical-align: middle;
        color: #FFFFFF;
        cursor: pointer;
        transition: color .5s;
}
.marketplace__img__box span:hover{
    color: #D6EF0E;
}


.marketplace__img__content button{
    padding: 15px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 8px;
    border: 1px solid #D6EF0E;
    background: none;
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #D6EF0E;
    cursor: pointer;
    position: relative;
    z-index: 2;
    overflow: hidden;
}
.marketplace__img__content button span{
    position: relative;
    z-index: 2;
    transition: color .5s;
}
.marketplace__img__content button:hover span{
    color: #131E3A;
}
.marketplace__img__content button::before{
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background: #D6EF0E;
    z-index: 1;
    transition: all 1.2s;
}
.marketplace__img__content button:hover::before{
    left: 0;
}

/* ======= Collections ============== */
.Collections{
    width: 100%;
    height: 100vh;
    background: #000;
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.collections__container{
    width: 80%;
    margin: 0 auto;
}
.collections__top{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 6% 0;
}
.collections__title{
    font-family: Canela;
    font-weight: 500;
    font-style: Medium;
    font-size: 48px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #FFFFFD;
}
.collections__title span{
    color: #D6EF0E;
}

.collections__btn{
    padding: 15px 35px ;
    background: #D6EF0E;
    border: none;
    border-radius: 8px;
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #FFFFFF;
    position: relative;
    overflow: hidden;
}
.collections__btn span{
    position: relative;
    color: #FFFFFF;
    transition: color .5s;
    z-index: 2;
}
.collections__btn:hover span{
    color: #FFFFFF;
}
.collections__btn::before{
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #131E3A;
    top: 0;
    left: -100%;
    transition: all 1.3s;
    z-index: 1;
    border-radius: 8px;
}
.collections__btn:hover::before{
    left: 0;
    z-index: 1;
}

.collections__body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.collections__card{
    padding: 15px;
    background: #131E3A;
    border-top: 1px solid #D6EF0E;
    border-radius: 12px;
}

.collections__card:hover .collections__card__header img{
    transform: scale(1.2)
}

.collections__card__header{
    overflow: hidden;
}

.collections__card__header img{
    width: 100%;
    transition: all 1.2s;
}
.collections__card__body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.collections__card__title{
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0px;
    color: #FFFFFD;
    transition: color .5s;
}
.collections__card__title:hover{
    color: #D6EF0E;
}
.collections__price{
    display: flex;
    align-items: center;
    justify-content: center;
}
.collections__price span{
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0px;
    color: #FFFFFD;
    transition: color .5s;
}
.collections__price span:hover{
    color: #D6EF0E;
}

.collections__cerd__footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 0;
}
.collection__cerd__footerBox p{
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 160%;
    letter-spacing: 0px;
    color: #838382;
}
.collection__cerd__footerBox span{
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 8px;
}
.collection__cerd__footerBox span img{
    width: 100%;
    height: auto;
    animation: rotate 3s infinite;
    border-radius: 50%;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}



.collection__cerd__footerBox span p{
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0px;
    color: #FFFFFD;
    transition: color .5s;
}
.collection__cerd__footerBox span p:hover{
    color: #D6EF0E;
}

.collections__cerd__btn{
    padding: 10px 30px;
    background: none;
    border: 1px solid #D6EF0E;
    border-radius: 6px;
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #D6EF0E;
    cursor: pointer;
    position: relative;
    transition: all 1.4s;
    overflow: hidden;
}
.collections__cerd__btn span{
    position: relative;
    color: #D6EF0E;
    z-index: 2;
    transition: color .5s;
}
.collections__cerd__btn:hover span{
    color: #131E3A;
}

.collections__cerd__btn::before{
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background: #D6EF0E;
    transition: all 1.3s; 
}
.collections__cerd__btn:hover::before{
    left: 0;
}