
/* =================BASE==================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}


/* ==================HEADER================= */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background:#000000 ;
    padding-top: 20px;
    z-index: 999;
}

.nav {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
}

.nav__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transition: all 0.7s;
}
@media only screen and (max-width:1150px){
    .nav__menu{
        position: fixed;
        flex-direction: column;
        top: 0;
        left: -100%;
        background-color:#000000;
        width: 40%;
        height: 100%;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 20px 10px;
        z-index: 1;
    }
    .nav__list{
        flex-direction: column;
    }
    .nav__close{
        display: flex;
        color: #FFFFFF;
    }
    .search__container{
        z-index: 0;
    }
}
@media only screen and (min-width:1150px){
    .nav__toggle{
        display: none;
    }
    .nav__close{
        display: none;
    }
}

.nav__list {
    display: flex;
    gap: 22px;
}

.nav__item {
    padding: 19px 4px;
    border-bottom: 5px solid transparent;
    transition: all 0.5s;
}

.nav__item:hover {
    border-bottom: 5px solid #D42E12;
}

.nav__item a {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #FFFFFF;
}

.nav__call {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.nav__call-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 12px;
    border: 4px solid #D42E12;
    background: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #FFFFFF;
    cursor: pointer;
}

.nav__call div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

.nav__call-search {
    color: #FFFFFF;
    padding: 10px 2px;
    font-size: 22px;
    cursor: pointer;
}

.nav__call-basket {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: #FFFFFF;
    cursor: pointer;
}

.nav__basket-number {
    width: 28px;
    height: 28px;
    background: #C53720;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}


/* ======================dropdown======================== */

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 62px;
    left: 0;
    background: #000000;
    padding: 10px 0;
    min-width: 300px;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown:active .dropdown-menu {
    display: block;
}

.dropdown-menu li a {
    display: flex;
    justify-content: space-between;
    padding: 10px 12px;
    color: #FFFFFF;
    text-align: start;
    font-size: 12px;
    transition: background 0.3s ease;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
}

.dropdown-menu li a:hover {
    background-color: #D42E12;
}

.dropdown-menu li a i{
    display: none;
}
.dropdown-menu li a:hover i{
    display: block;
}
/* =================navigatsion panel=============== */
.nav__close,
.nav__toggle{
    color: #FFFFFF;
    font-size: 30px;
}
.nav__close{
    position: absolute;
    top: 5%;
    right: 3%;
}
.nav__toggle i{
    transition: all 0.8s;
}

.nav__close i{
    transition: all 0.1s;
}
.nav__close  i:active{
    transform: rotate(45deg)
}
/* =================search============================ */
.search__container{
    position: fixed;
    display: none;
    width: 100%;
    background: #1D1D1D;
    padding: 15px 0;
    top: 10%;
    left: 0;
    transition:  all 3s;
}

.search-box{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.search-box div{
    flex: 1;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-box div i{
    font-size: 22px;
    color: #A5A5A5;
    padding: 0 5px;
}
.search-input{
    width: 100%;
    padding: 8px 8px;
    background: #FFFFFF;
    color: #000000;
    font-size: 16px;
    border: none;
    outline: none;
}

.search-box-btn{
    padding: 8px 8px;
    background: none;
    border: 4px solid #C53720;
    color: #FFFFFF;
}
.search-close{
    font-size: 22px;
    color: #A5A5A5;
}


  /* ===================HERO======================== */
.hero{
    width: 100%;    
    height: 100vh;
}
.hero__carusel{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.hero__carusel__list{
    width: 100%;
    height: 100%;
}
.carusel__item{
    width: 100%;
    height: 100%;
    background-position:center;
    background-size: cover;
    overflow: hidden;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carusel__item__content{
    width: 80%;
    height: 80%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;    
    justify-content: center;
    flex-direction: column
}
.carusel__item__text{
    max-width: 200px;
    font-weight: 700;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: 0%;
    color: #FFFFFF;    
}
.carusel__item__btn{
    padding: 15px 15px;
    border: 4px solid #C53720;
    background: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #FFFFFF;
    margin-top: 40px;
    cursor: pointer;
    transition: all 0.2s;
}
.carusel__item__btn:hover{
    border: 4px solid #933333;
    color: #f0f8ffbd;
}